@import '../../styles/variable';


.wrapper {
  background-color: $white;
  width: 1200px;

  .fl {
    display: flex;
    .content {
      width:100%;
    }


    .lastNews {
      width: 300px;
      flex-shrink: 0;
      border: solid;
      color:red;
    }

  }


}